
.Objective:hover {
    background-color: #a3e7c2; /* Highlight color when hovering */
    text-decoration: none; /* Remove underline on hover */
    border: 1px solid black;
  }

  .Objective {
    padding: 1rem;
    width: 90px;
    border-radius: 1rem;
    
  }
/* .Objective{
   background-color: #a3e7c2;
   /* border: 1px solid white;  */
   /* padding: 1rem;
   width: 90px;
   border-radius: 50%; */ 

   


 

.img{
   border-radius: 50%;
   text-align: right;
   border: 3px solid black;
}
.under{
text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

/* Style table headers */
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
}

/* Style table cells */
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Style the table header row */
th {
    background-color: #f2f2f2;
}

/* Style alternating rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* Add hover effect to table rows */
tr:hover {
    background-color: #ddd; /* Change the background color on hover */
}


/* Style the "EDUCATION" heading */
h2 {
    font-size: 24px;
    color: #333;
}
.font:hover {
    background-color: #a3e7c2; /* Highlight color when hovering */
    text-decoration: none; /* Remove underline on hover */
  }
.font{
    
    width: 300px;
    border-radius: 1rem;
    color: green;
    font-size: xx-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 900;
/* border: 1px solid black; */
padding: 8px

}
/* Add hover effect to table rows */
li:hover {
    background-color: #a3e7c2; /* Change the background color on hover */
}
ul {
    list-style-type: symbols(); /* Change to 'circle' or 'none' for different styles */
  }
  
.border{
    border: 1px solid black;
    margin: 2px;
    padding: 10px;
    border-radius: 1rem;
}
ul {
  list-style-type: square; /* Change to 'circle' or 'none' for different styles */
}

.how:hover {
    background-color: #a3e7c2; /* Change the background color on hover */
    border: 1px solid black;
}
.obj:hover {
    background-color: #a3e7c2; /* Highlight color when hovering */
    text-decoration: none; /* Remove underline on hover */
    border: 1px solid black;
  }
.obj{
    /* background-color: #a3e7c2; */
    /* border: 1px solid white;  */
    padding: 1rem;
    width: 120px;
    border-radius: 1rem;
    
 }
 .Obj:hover {
    background-color: #a3e7c2; /* Highlight color when hovering */
    text-decoration: none; /* Remove underline on hover */
    border: 1px solid black;
  }
 .Obj{
    /* background-color: #a3e7c2; */
    
    padding: 1rem;
    width: 150px;
    border-radius: 1rem;
    
 }

